{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block styles %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/update-profile.css' %}">
{% endblock %}

{% block title %} Update Profile {% endblock title %}

{% block content %}

<section class="container text-light">
    {% if form.errors %}
    {% bootstrap_form_errors form layout='inline' %}
    {% endif %}
    <div>

        <div>
            <h3 class="text-center">Update Profile</h3>
        </div>
        <div>
            {% if form.errors %}
            {% bootstrap_form_errors form layout='inline' %}
            {% endif %}
        </div>
        <div class="mx-auto" style="max-width: 30rem;">

            <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_form user_form %}
                {% bootstrap_form prof_form %}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary w-100">update</button>
                </div>
        </div>
        </form>

    </div>

</section>
{% endblock content %}